#video-container {
    position: relative;
    width: 100%;
    height: 60vh; /* 60% of the viewport height */
    overflow: hidden; /* Ensure video doesn't overflow */
  }
  #background-video {
    width: 100%;
    height: 60vh;
    object-fit: cover; /* Cover the whole container */
  }
  #video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    pointer-events: none; /* to allow click through */
    z-index: 3; /* Ensure overlay is on top */
  }
  #overlay-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.8) 100%);
    pointer-events: none; /* to allow click through */
    z-index: 2; /* Ensure overlay is on top */
  }

  .hero {
    background-color: #ccc;
    text-align: center;
    padding: 60px 20px;
}
.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.hero p {
    color: #666;
}
.breadcrumb-custom {
    background-color: #f8f8f8;
    margin-bottom: 0;
}
.collection-img-large,
.collection-img-small {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* This value ensures a square aspect ratio */
    margin-bottom: 15px;
    overflow: hidden;
    object-fit: cover;  /* Ensures the image doesn't overflow the div */
}

.collection-img-large img,
.collection-img-small img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image scales correctly and maintains aspect ratio without cropping */
}
footer {
    background-color: #f8f8f8;
    padding: 20px 0;
}
footer .social-icons a {
    margin-right: 15px;
    color: #333;
}